
.header {
    text-align: center;
    color: black;
    font-family: monospace;
    font-size: large;
}

.big-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.tenor-gif-embed {
    text-align: center;
}
