<!-- templates/index.html -->

<!--  Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block title %}
    GIF Search
{% endblock %}

{% block content %}

<!-- Make HTML form containing a search box and a submit button to addthe search term to the query string.
     The form should have a target of '/' to send us to the same route. -->
<div class="header">
    <h1>GIF Search</h1>

    <form action="/">
        <input type="text" placeholder="Search GIFs" id="query" name="query">
        <input type="submit" value="Submit">
    </form>
</div>

<br>

<!--  Make a for loop to loop over GIFs passed in from the server -->
<!--  For each gif, include the 'gif.html' template to display it -->
    {% if gifs %}
    <div class="big-grid">
        {% for gif in gifs %}
            {% include 'gif.html' %}
        {% endfor %}
        {% else %}
        <h2> Nothing Could Be Found:Try Again </h2>
    </div>
    {% endif %}

{% endblock %}
